.disabledInput {
  pointer-events: none;
}
.updateInfoModal {
  @media (min-width: 992px) {
    .modal-lg,
    .modal-xl {
      max-width: 500px;
    }
  }

  .modal-title {
    font-size: 30px;
  }
  .modal-content {
    border-radius: 30px;
    padding: 10px;
    .modal-body {
      input {
        margin-bottom: 20px;
      }
      label {
        color: gray;
      }
    }
  }
  .footer {
    display: flex;
    justify-content: space-evenly;
    button {
      width: 40%;
      height: 50px;
      border-radius: 15px;
      font-size: 20px;
      font-weight: bold;
      &:first-child {
        background-color: gray;
        border-color: gray;
      }
    }
  }
}
.modalError {
  color: red;
  font-weight: bold;
  padding-bottom: 20px;
  font-size: 16px;
}
.popUp-modal {
  .modal-dialog {
    margin-top: 0px;
  }
  .modal-content {
    background-color: gray;
    color: white;
  }
  .modal-header {
    padding: 8px !important;
    display: block;
    border-bottom: none;
    div {
      text-align: center;
    }
  }
}

.disableButton {
  pointer-events: none;
  opacity: 0.8;
}
